
<section id="pre-content">
  <div class = "pre-content-inner">
    <div class = "container">
        <div class = "sixteen columns">
          <div class = "space-title">
            <h1 span class = "page-title" >
              <%= @room %>
            </h1>
          </div>
        </div>
    </div>
  </div>
  <section id= "main-container" class ="container" role = "main">
    <div id="main" class ="sixteen columns content">
      <article id="post-576"class ="post-576 page type-page status-publish hentry page-single clearfix" >
        <div class = "post-content">
            <span class ="orientation-info"  >
            <span> You are in
              <%=  @room  %>  home products </span>
            </span>
        </div>
        <%= @home_product_by_room.each do |homeproduct| %>
          <div class="asc-columns one_fourth">
              <div class = "asc-frame ">
                <span >
                  <ul class="title ">
                  <%= link_to homeproduct.name, home_products_path(:id => homeproduct.id),{:class => "more-link"}  %>
                  </ul>
                  <ul  class="scale-with-grid" >
                    <%=link_to home_products_path(homeproduct.id)%>
                       <%= link_to image_tag(homeproduct.images ,  :width =>300 , :height => 174) , home_products_path(homeproduct.id )%>
                  </ul>
                </span>
              </div>
          </div>
        <%end%>
        <section>
          <p><%= link_to home_path, {:class => "asc-button small gray"} do%><span> Previous room </span><% end %>&nbsp;<strong></strong>&nbsp;
            <%= link_to home_path, {:class => "asc-button small gray"} do%><span> Next room</span><% end %>
           <%= link_to  room_home_products_path, {:class => "asc-button small gray"} do%> <span>Back to All Rooms</span><%end%></p>
        </section>
      </article>
    </div>
  </section>

</section>

