
<section id="pre-content">
  <div class = "pre-content-inner">
    <div class = "container">
        <div class = "sixteen columns">
          <div class = "space-title">
            <h1 span class = "page-title" >
              <%= @room %>
            </h1>
          </div>
        </div>
    </div>
  </div>
  <section id= "main-container" class ="container" role = "main">
    <div id="main" class ="sixteen columns content">
      <article id="post-576"class ="post-576 page type-page status-publish hentry page-single clearfix" >
        <div class = "post-content">
            <span class ="orientation-info"  >
            <span> You are in
              <%=  @room  %>  home products </span>
            </span>
        </div>
        <%= @home_product_by_room.each do |homeproduct| %>
          <div class="asc-columns one_fourth">
              <div class = "asc-frame ">
                <span >
                  <ul class="title ">
                  <%= link_to homeproduct.name, home_products_path(:id => homeproduct.id, :room => @room),{:class => "more-link"}  %>
                  </ul>
                  <ul  class="scale-with-grid" >
                    <%=link_to home_products_path(:id => homeproduct.id,:room => @room, :designer => homeproduct.designer)%>

                    <%= link_to image_tag(homeproduct.images , :style => "width:250px;height:199px", :class => 'scale-with-grid') , home_products_path(:id => homeproduct.id , :room => @room,:designer=>homeproduct.designer)%>
                  </ul>
                </span>
              </div>
          </div>
        <%end%>
        <section>
           <%= link_to  room_home_products_path, {:class => "asc-button small gray"} do%> <span>Back to all Rooms</span><%end%>
        </section>
      </article>
    </div>
  </section>

</section>

