<section id="pre-content">
  <div class="pre-content-inner">
    <div class="container">
      <div class="sixteen columns">
        <div class="space-title">
          <h1 class="page-title"><%=@designer.name%> <%=@designer.surname%>.</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="main-container" class="container" role="main">
  <div id="main" class="sixteen columns content">
    <!-- post entry -->
    <div class="post-content">
      <div class="asc-columns one_third">
        <div class="asc-frame">
          <p> <%= image_tag (@designerImage) %>  </p>
        </div>

          <p>Collaborated at
            <%=@events.each do |event|%>
                <%= link_to event.name, about_event_path(:id => event.id), {:class => "more-link"} %>,
            <% end %>
          </p>

            <p>Designed <%= link_to 'Home products', designers_home_products_path(:id => @designer.id), {:class => "more-link"} %>
            </p>
            <p>Designed <%= link_to 'Workspaces', designers_workspaces_path(:id => @designer.id), {:class => "more-link"} %>
            </p>

          <div class="clearfix"></div>
          <div class="asc-divider divider"></div>

          <p>
            <%= link_to designer_works_path(:id => @designer.id), {:class => "more-link"} do%><span> Notorious works of&nbsp;<%=@designer.name%> <%=@designer.surname%>&nbsp;</span><% end %>

          </p>
          <div class="clearfix"></div>
          <div class="asc-divider divider"></div>

          <p>You are in the category
            <%= link_to 'Designers', designers_path, {:class => "more-link"} %>
          </p>
          <p>    <% if @designer.id > 1 %>
            <%= link_to 'Previous', designer_about_path(:id => @designer.id-1), {:class => "asc-button small gray"} %>&nbsp;<strong>……</strong>&nbsp;
              <% end %>
            <% if @designer.id<@all_designers.size%>
                <%= link_to 'Next', designer_about_path(:id => @designer.id+1), {:class => "asc-button small gray"} %>
            <% end %>
           </p>
          <p>
                <%= link_to 'All Designers', designers_path, {:class => "asc-button small light"} %>
           </p>
        </div>
        <div class="asc-columns one_half last">
          <p><strong>About</strong></p>
          <p><%= @designer.description %></p>
        <div class="clearfix"></div>
        </div>
        </div>
  </div>
</section>
