<section id="pre-content">
  <div class="pre-content-inner">
    <div class="container">
      <div class="sixteen columns">
        <div class="space-title">
          <h1 class="page-title"><%=@designer.name%>  <%=@designer.surname%>.</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="main-container" class="container" role="main">
  <div id="main" class="sixteen columns content">
    <!-- post entry -->
      <div class="post-content">
        <div class="asc-columns one_third">
          <div class="asc-frame">
            <p> <%= image_tag (@designerImage), :style => "width='300'; height='199'" %>  </p>
          </div>

          <p>Collaborated at
              <%= link_to home_path, {:class => "more-link"} do%>
               <span> <span class="followlink">Event “Berlin Expo” </span></span>
              <% end %>
           </p>
          <p>Designed
            <%= link_to home_path, {:class => "more-link"} do%>
                <span> <span class="followlink">Home products</span>&nbsp;</span>
            <% end %>
          </p>
          <p>Designed
            <%= link_to home_path, {:class => "more-link"} do%>
                <span>&nbsp;<span class="followlink">Workspace products</span>&nbsp;</span>
            <% end %></p>
          <div class="clearfix"></div>
          <div class="asc-divider divider"></div>

          <p><%= link_to home_path, {:class => "more-link"} do%><span> Images&nbsp;</span><% end %></p>
          <p><%= link_to home_path, {:class => "more-link"} do%><span> Notorious works of&nbsp;Charles Eames&nbsp;</span><% end %></p>
          <div class="clearfix"></div>
          <div class="asc-divider divider"></div>

          <p>You are in the category <%= link_to home_path, {:class => "more-link"} do%><span>&nbsp;Designers </span><% end %></p>
          <p><%= link_to home_path, {:class => "asc-button small gray"} do%><span> Previous </span><% end %>&nbsp;<strong>……</strong>&nbsp;<%= link_to home_path, {:class => "asc-button small gray"} do%><span> Next</span><% end %></p>
          <p><%= link_to home_path, {:class => "asc-button small light"} do%><span> All Designers </span><% end %></p>
        </div>
        <div class="asc-columns one_half last">
          <p><strong>About</strong></p>
          <p><%= @designer.description %></p>
        <div class="clearfix"></div>
        </div>
        </div>
    <!-- end post entry -->
  </div>
</section>
