<section id="pre-content">

  <div class="pre-content-inner">

    <div class="container">

      <div class="sixteen columns">
        <div class="space-title">
          <h1 class="page-title">Top Clients</h1>

        </div>
      </div>

    </div>

  </div>
</section>

<section id="main-container" class="container" role="main">

  <div id="main" class="sixteen columns content">

    <!-- post entry -->
    <article id="post-24" class="post-24 page type-page status-publish hentry page-single clearfix">


      <div class="post-content">
        <div class="asc-columns one_fourth">
          <div class="asc-frame">
            <%= link_to image_tag("team1.jpg", :class => 'scale-with-grid') %>
          </div>
        </div>
        <div class="asc-columns three_fourth last">
          <div class="asc-testimonial">
            <div class="testimonial-content">
              Best Asian design company. This factory has 13.000 workers and is able to export about 1 billion $
            </div>
            <div class="testimonial-meta"><strong>Richard Doe</strong><span>CEO</span><span>Design Inc</span></div>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="asc-divider divider2"></div>
        <div class="asc-columns three_fourth">
          <div class="asc-testimonial">
            <div class="testimonial-content">
              Is active in media design segment and is european leader from five years
            </div>
            <div class="testimonial-meta"><strong>Jordan Doe</strong><span>Founder</span><span>Media Design Network</span></div>
          </div>
        </div>
        <div class="asc-columns one_fourth last">
          <div class="asc-frame">
            <%= link_to image_tag("team2.jpg", :class => 'scale-with-grid') %>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="asc-divider divider2"></div>
        <div class="asc-columns one_fourth">
          <div class="asc-frame">
            <%= link_to image_tag("team3.jpg", :class => 'scale-with-grid') %>
          </div>
        </div>
        <div class="asc-columns three_fourth last">
          <div class="asc-testimonial">
            <div class="testimonial-content">
              Design and realize most important collections of workspace design. From 2 years in the market but already quoted like best factory in Germany.
            </div>
            <div class="testimonial-meta"><strong>Michael Doe</strong><span>Co-Founder</span><span>Workspace Design Group</span></div>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="asc-divider divider2"></div>
        <div class="asc-columns three_fourth">
          <div class="asc-testimonial">
            <div class="testimonial-content">
              Big structures and modern approach for the best retailer of micro design.
            </div>
            <div class="testimonial-meta"><strong>Suzanne Doe</strong><span>Director</span><span>DDC Inc</span></div>
          </div>
        </div>
        <div class="asc-columns one_fourth last">
          <div class="asc-frame">
            <%= link_to image_tag("Janine_benyus_323x290.jpg", :class => 'scale-with-grid') %>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="asc-divider divider2"></div>
        <div class="asc-columns one_fourth">
          <div class="asc-frame">
            <%= link_to image_tag("giugiaro.jpg", :class => 'scale-with-grid') %>
          </div>
        </div>
        <div class="asc-columns three_fourth last">
          <div class="asc-testimonial">
            <div class="testimonial-content">
              Solid manufactored company that occupay modern state of art in belgium
            </div>
            <div class="testimonial-meta"><strong>Wayne Doe</strong><span>Project Manager</span><span>BBGroup Corp</span></div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>

    </article>
    <!-- end post entry -->

  </div>

</section>