<section id="pre-content">
  <div class="pre-content-inner">
    <div class="container">
      <div class="sixteen columns">
        <div class="space-title">
          <h1 class="page-title">Company History</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="main-container" class="container">
  <div id="main">
    <article>
      <div class="post-content">
        <h6>JCLDesign &nbsp;was founded in 2012.&nbsp;Our name is also a fitting description of&nbsp;founders and owners of JCLDesign Company, which employs over 1200 workers worldwide. “JCL” is acronym for the group of owners -&nbsp;Julia, Claudia and Luca.</h6>
        <h6>Julia Malovi, who has 5 years of experience from the furniture industry.&nbsp;She has an education in business trading. She has been working for four years as Quality Manager for JCLDesign&nbsp;Company.</h6>
        <h6>Claudia Colella, who has been involved in the furniture business at JCLDesign&nbsp;Company for 6 years.&nbsp;She is the day-to-day manager of the JCLDesigns’ store. Participates in the work of the board at&nbsp;JCLDesign.</h6>
        <h6>Luca Malannino. He is an educated freight forwarder and he has been with JCLDesign&nbsp;for 7 years. For the past couple of years he has been working as JCLDesign’s head of quality control in Italy.</h6>
        <p><span><strong> <%= link_to 'company Identity', identity_path %> </strong></span></p>
        <div class="clearfix"></div>
        <div class="asc-divider divider"></div>
        <div class="asc-columns one_fourth">
          <div class="asc-frame">
            <p><%= link_to image_tag("bllend-design-office-02.jpg" , :style => "width:250px;height:199px", :class => 'scale-with-grid') %></p>
          </div>
        </div>
        <div class="asc-columns one_fourth">
          <div class="asc-frame">
            <p><<%= link_to image_tag("Open-source-man-645x429-300x199.jpg" , :style => "width:250px;height:199px", :class => 'scale-with-grid') %></p>
          </div>
        </div>
        <div class="asc-columns one_fourth">
          <div class="asc-frame">
            <p><<%= link_to image_tag("Team-7-square-framed-bookcase-and-glass-wall-with-wooden-desk-and-chest-150x150.jpg" , :style => "width:250px;height:199px", :class => 'scale-with-grid') %></p>
             </div>
        </div>
        <div class="asc-columns one_fourth last">
          <div class="asc-frame">
            <p><<%= link_to image_tag("Team-7-blonde-wood-framed-windows-in-home-office-with-contrasting-wooden-desk-600x450.jpg" , :style => "width:250px;height:199px", :class => 'scale-with-grid') %></p>
               </div>
        </div>
        <div class="clearfix"></div>
      </div>

    </article>
  </div>
</section>