<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
  <title>JCLdesign</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="header">
  <div class="container">
    <div class="sixteen columns header-inner">
      <div class="logo">
        <%= link_to home_path do%>
            <%= image_tag("logo1.png") %>
        <% end %>
      </div>
      <nav id="main-nav">
        <div class="nav">
          <li class="link"><%= link_to 'About the Company', identity_path %>
            <ul class="sub-menu">
              <li><%= link_to 'Identity', identity_path %></li>
              <li><%= link_to 'History', history_path %></li>
            </ul>
          </li>
          <li class="link"><%= link_to 'Our Partners', partners_path %>
          </li>
          <li class="link"><%= link_to 'Workspace', workspace_path %>
            <ul class="sub-menu">
              <li><%= link_to 'New Arrivals', new_workspace_path %></li>
              <li><%= link_to 'Top Workstations', top_workspace_path %></li>
              <li><a href="#">'All Collections',collectiom %a>
                <ul>
                  <li><%= link_to 'Classic', collection_path(:id) %></li>
                  <li><%= link_to 'Soft', collection_path(:id) %></li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="link"><%=link_to 'Home Products' , home_products_path %>
            <ul class="sub-menu">
              <li><%= link_to 'Top Home Products', top_home_products_path %></li>
              <li><%= link_to 'New Arrivals', new_home_products_path %></li>
              <li><a href="#">Rooms</a>
                <ul>
                  <li><%= link_to 'Bedroom', room_home_products_path(:id) %></li>
                  <li><%= link_to 'Dining Room', room_home_products_path(:id) %></li>
                  <li><%= link_to 'Studio', room_home_products_path(:id) %></li>
                  <li><%= link_to 'Living Room', room_home_products_path(:id) %></li>
                  <li><%= link_to 'Loft', room_home_products_path(:id) %></li>
                </ul>
              </li>
              <li><a href="#">Types</a>
                <ul>
                  <li><%= link_to 'Sofas and Armchairs', type_home_products_path(:id) %></li>
                  <li><%= link_to 'Night Furniture', type_home_products_path(:id) %></li>
                  <li><%= link_to 'Beds', type_home_products_path(:id) %></li>
                  <li><%= link_to 'Closets', type_home_products_path(:id) %></li>
                  <li><%= link_to 'Chairs', type_home_products_path(:id) %></li>
                  <li><%= link_to 'Systems', type_home_products_path(:id) %></li>
                  <li><%= link_to 'Tables', type_home_products_path(:id) %></li>
                  <li><%= link_to 'Single Furniture', type_home_products_path(:id) %></li>
                  <li><%= link_to 'Lamps', type_home_products_path(:id) %></li>
                  <li><%= link_to 'Fittings', type_home_products_path(:id) %></li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="link"><%= link_to 'Designers', designers_path %></li>
          <li class="link"><%= link_to 'Services', services_path%>
            <ul class="sub-menu">
              <li><%= link_to 'Assistance', services_assistance_path %></li>
              <li><%= link_to 'Interior Design', services_interior_design_path%></li>
              <li><%= link_to 'Repair', services_repair_path %></li>
              <li><%= link_to 'Personalization', services_personalization_path %></li>
            </ul>
          </li>
          <li class="link"><%= link_to 'Distribution', distribution_types_path%>
          </li>
          <li class="link"><%= link_to 'Events', events_path %></li>
          <ul class="sub-menu">
            <li><%= link_to 'All Events', all_events_path %></li>
            <li><%= link_to 'Monthly Events', events_by_month_path %></li>
          </ul>
          </li>
          <ul class="sub-menu">
            <li><%= link_to 'Contacts', contacts_path %></li>
            <li><%= link_to 'FAQ', faq_path %></li>
            <li class="link"><%= link_to 'Press', press_path %>
              <ul class="sub-menu">
                <li><%= link_to 'News', news_path %></li>
                <li><%= link_to 'Magazine', magazine_path %></li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</div>

<div id="content">
  <%= yield %>
</div>

<div id="footer">
  <div class="footer-inner">
    <div id="footer-wrap" class="container">
      <!-- footer widget -->
      <div class="sixteen columns">
        <section class="widget widget_text">
          <h3 class="widget-title"><span>Get In Touch</span></h3>
          <div class="textwidget">
            <strong>Milan, Italy</strong>
            <div class="asc-contact address">Piazza Leonardo Da Vinci, 36, Milano, MI, Italia</div>
            <div class="asc-contact phone">+39 388872712 or +39 388872434</div>
            <div class="asc-contact mail"><a href="mailto:info@jcldesign.com">www.jcldesign.com</a></div>
          </div>
        </section>
      </div>
      <!-- end footer widget -->

    </div>
    <div id="copyright" class="container">
      <div class="sixteen columns">
        <div class="five columns alpha">
          JCL Design © 2012. Theme by JCL Design
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>