<!DOCTYPE html>
<html>
<head>
  <title>JCLdesign</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="header">
  <div class="container">
    <div class="logo">
      <img src="http://www.lant.it/wp-content/uploads/2013/05/logo1.png" alt="JCL_InteriorDesign"> <% link_to 'JCLDesign', home_path %>
    </div>
  <nav id="main-nav">
      <ul id="nav">
        <li><%= link_to 'Company', company_path %>
          <ul class="sub-menu" style="display: none;">
            <li><%= link_to 'Identity', identity_path %></li>
            <li><%= link_to 'History', history_path %></li>
          </ul>
        </li>
        <li><%= link_to 'Partners', partners_path %>
          <ul class="sub-menu" style="display: none;">
            <li><%= link_to 'Introduction', introduction_partner_path %></li>
            <li><%= link_to 'Images', images_partner_path %></li>
            <li><%= link_to 'Contacts', contacts_partner_path %></li>
          </ul>
        </li>
        <li><%= link_to 'Workspace', workspace_path %>
          <ul class="sub-menu" style="display: none;">
            <li><%= link_to 'Collections', collections_path %>
              <ul class="sub-menu">
                <li><%= link_to 'Classic', collections_path %></li>
                <li><%= link_to 'Soft', collections_path %></li>
              </ul>
            </li>
            <li><%= link_to 'New', new_workspace_path %></li>
            <li><%= link_to 'Top', top_workspace_path %></li>
          </ul>
        </li>
        <li><a>Home Products</a>
          <ul class="sub-menu" style="display: none;">
            <li><%= link_to 'Top', top_homeproducts_path %></li>
            <li><%= link_to 'New', new_homeproducts_path %></li>
            <li><%= link_to 'Types', types_homeproducts_path %>
              <ul class="sub-menu">
                <li><%= link_to 'Sofas and Armchairs', homeproducts_path(:id) %></li>
                <li><%= link_to 'Night Furniture', homeproducts_path(:id) %></li>
                <li><%= link_to 'Beds', homeproducts_path(:id) %></li>
                <li><%= link_to 'Closets', homeproducts_path(:id) %></li>
                <li><%= link_to 'Chairs', homeproducts_path(:id) %></li>
                <li><%= link_to 'Systems', homeproducts_path(:id) %></li>
                <li><%= link_to 'Tables', homeproducts_path(:id) %></li>
                <li><%= link_to 'Single Furniture', homeproducts_path(:id) %></li>
                <li><%= link_to 'Lamps', homeproducts_path(:id) %></li>
                <li><%= link_to 'Fittings', homeproducts_path(:id) %></li>
              </ul>
            </li>
            <li><%= link_to 'Rooms', rooms_homeproducts_path %>
              <ul class="sub-menu">
                <li><%= link_to 'Bedroom', homeproducts_path %></li>
                <li><%= link_to 'Dining Room', homeproducts_path(:id) %></li>
                <li><%= link_to 'Studio', homeproducts_path(:id) %></li>
                <li><%= link_to 'Living Room', homeproducts_path(:id) %></li>
                <li><%= link_to 'Loft', homeproducts_path(:id) %></li>
              </ul>
            </li>
          </ul>
        </li>
        <li><%= link_to 'Designers', designers_path %></li>
        <li><%= link_to 'Services', services_path %>
          <ul class="sub-menu">
            <li><%= link_to 'Assistance', assistance_path %></li>
            <li><%= link_to 'Interior Design', interior_design_path %></li>
            <li><%= link_to 'Repair', repair_path %></li>
            <li><%= link_to 'Personalization', personalization_path %></li>
          </ul>
        </li>
        <li><%= link_to 'Distribution', distribution_path %>
          <ul class="sub-menu">
            <li><%= link_to 'Retail Shops', retail_shops_path %></li>
            <li><%= link_to 'Showrooms', showrooms_path %></li>
            <li><%= link_to 'Assistance points', assistance_points_path %></li>
          </ul>
        </li>
        <li><%= link_to 'Events', events_path %></li>
        <li><a>More...</a>
          <ul class="sub-menu">
            <li><%= link_to 'Contacts', contacts_path %></li>
            <li><%= link_to 'FAQ', faq_path %></li>
            <li><%= link_to 'Log In', log_in_path %></li>
            <li><%= link_to 'Press', press_path %>
              <ul class="sub-menu">
                <li><%= link_to 'News', news_path %></li>
                <li><%= link_to 'Magazine', magazine_path %></li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>

  </nav>
  </div>
</div>

<div id="content">
  <%= yield %>
</div>

</body>
</html>
